/Codigo/MTPwriter/MTPwriter/nbproject/private/
/Codigo/MTPreader/MTPreader/nbproject/private/
/Codigo/MTPreader/build/
/Codigo/MTPreader/dist/
/Codigo/MTPreader/nbproject/private/
/Codigo/MTPwriter/dist/
